section {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: dimgrey;
	font-size: 1.25em;
	line-height: 1.5;
	letter-spacing: .05em;
}

article {
	font-size: 1.25em;
	letter-spacing: .05em;
}
